.GameRoundGrid {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.FeedbackSlot {
  grid-row: 1;
  min-height: 3.5rem;
}

.PokemonSlot {
  grid-row: 2;
  min-height: 11rem;
}

.ControlsSlot {
  padding: 1rem;
  grid-row: 3;
  min-height: 5.8rem;
  width: 100vw;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
    z-index: 5;
  }

  &__Inner {
    position: relative;
    z-index: 10;
  }
}
