.Container {
  display: flex;
  justify-content: center;
}

.GameDifficultyButton {
  position: absolute;
  bottom: 0;
  background-color: #7b240b;
  min-width: 10rem;
}

.backdrop-wrapper::before {
  content: "";
  position: fixed; /* cubre toda la pantalla */
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* sombra oscura */
  backdrop-filter: blur(6px); /* desenfoque */
  z-index: 5;
}

._ControlsSlot_1pecj_17 {
  position: relative;
  z-index: 10; /* que quede encima del overlay */
}
