#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

body {
  background-image: url("./img/pokemon.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 900;
}
